* {
    margin: 0; /* 设置元素的外边距为0 */
    padding: 0; /* 设置元素的内边距为0 */
    box-sizing: border-box; /* 设置元素的盒模型为border-box，包含边框的大小 */
    font-family: sans-serif; /* 设置元素的字体为sans-serif */
}

body {
    display: flex; /* 将元素显示为弹性布局 */
    flex-direction: column; /* 弹性主轴方向为垂直方向 */
    justify-content: center; /* 在弹性主轴方向上居中元素 */
    align-items: center; /* 在弹性交叉轴方向上居中元素 */
    min-height: 100vh; /* 设置元素的最小高度为视口高度的100% */
}

body {
    gap: 20px; /* 设置元素之间的间距为20px */
    background: #000000; /* 设置背景颜色为黑色 */
}

.inputBox {
    position: relative; /* 将元素的定位设置为相对定位 */
    width: 400px; /* 设置元素的宽度为400px */
}

.inputBox input {
    width: 100%; /* 设置元素的宽度为100% */
    padding: 20px; /* 设置元素的内边距为20px */
    border: 4px solid #fafafa; /* 设置元素的边框宽度为4px，样式为实线，颜色为#fafafa */
    background: #000000; /* 设置元素的背景颜色为黑色 */
    border-radius: 10px; /* 设置元素的圆角半径为10px */
    outline: none; /* 取消元素的外边框 */
    color: #fafafa; /* 设置元素的文本颜色为#fafafa */
}

.inputBox span {
    position: absolute; /* 将元素的定位设置为绝对定位 */
    left: 0; /* 将元素的左边界与左侧边界的距离设置为0 */
    padding: 23px; /* 设置元素的内边距为23px */
    pointer-events: none; /* 禁止元素的鼠标事件 */
    text-transform: uppercase; /* 将元素的文本转换为大写 */
    color: rgb(0, 255, 0); /* 设置文本的颜色为RGB(0, 255, 0) */
    transition: .1s; /* 添加0.1秒的过渡效果 */
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #00ff00; /* 设置文本的颜色为RGB(0, 255, 0) */
    transform: translateX(14px) translateY(-10px); /* 将元素在X轴上平移14px，在Y轴上平移-10px */
    font-size: 20px; /* 设置元素的字体大小为20px */
    padding: 0 12px; /* 设置元素的内边距为0 12px */
    background: #000000; /* 设置元素的背景颜色为黑色 */
    letter-spacing: 4px; /* 设置元素的字母间距为4px */
}