* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #000;
}

html::-webkit-scrollbar {
    width: 0;
  }
  body::-webkit-scrollbar {
    width: 0;
  }

html {
    background-color: #ffffff;
}

.clear {
    clear: both;
}

nav {
    text-align: center;
    background: #141414;
    text-align: center;
    border-bottom: #333 5px solid;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    line-height: 100px;
    margin: 0px 60px;
    font-size: 25px;
    font-weight: bold;
}

nav a:hover {
    color: #46ffaf;
    font-weight: bold;
}

/* 轮播图 */
.banner {
    width: 1000px;
    height: 389px;
    margin: 0px auto;
    margin-bottom: 0px;
}

.slider-container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    width: 1000px;
    flex-shrink: 0;
}

.slider-item img {
    width: 100%;
    height: auto;
}

.slider-indicators {
    position: relative;
    text-align: center;
    margin-top: -45px;
    z-index: 2;
}

.indicator {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #3f3f3f;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: #46ffaf;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #000000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.main {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    background-color: #fff;
    margin-top: 20px;
}

.title_main {
    border-bottom: 3px solid #000000;
    line-height: 30px;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.title_main span {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px solid #46ffaf;
    margin-top: 7px;
    margin-right: 10px;
}

.list_box {
    margin-top: 30px;
}

.list_box li {
    float: left;
    width: 160px;
}

.list_box li:not(:nth-child(1)) {
    margin-left: 40px;
}

.list_box li img {
    width: 100%;
    border-radius: 10%;
}

.list_box li img:hover {
    transform: scale(1.07);
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.list2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list2 li {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.list2 li:not(:nth-child(1)) {
    border-left: 1px solid #C5C5C5;
}

.list2 li p {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
    padding: 0px 10px;
}

.list2 li p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
}

.list2 li p:nth-child(2n) {
    background-color: #E8E8E8;
}

.list2 li p:nth-child(2n-1) {
    background-color: #F4F4F4;
}

.list2 li p span {
    display: inline-block;
    width: 26px;
    color: #8b8b8b;
}

.list2 li:nth-child() p span {
    display: inline-block;
    width: 26px;
}

.list2 li p:nth-child(-n+4) span {
    color: #C10D0C;
    font-weight: bold;
}

.list2 li:nth-child(1) p:nth-child(1) {
    color: #E379A7;
}

.list2 li:nth-child(2) p:nth-child(1) {
    color: #64C5BD;
}

.list2 li:nth-child(3) p:nth-child(1) {
    color: #73BEE7;
}

.list2 li:nth-child(4) p:nth-child(1) {
    color: #E5695F;
}

.footer {
    margin-top: 40px;
    padding: 20px 0px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #333;
}

.main_box {
    margin-top: 20px;
}

.main_left {
    float: left;
    width: 260px;
    box-sizing: border-box;
    padding-right: 10px;
}

.main_left a {
    display: block;
    text-align: left;
    height: 60px;
    border-radius: 12px;
    padding: 10px 10px;
    text-decoration: none;
    line-height: 30px;
}

.main_left a span {
    color: #444444;
    font-size: 12px;
    display: inline-block;
    margin-top: 1px;
}

.main_left a:nth-child(1) {
    color: #DB74A2;
}



.main_left a:nth-child(2) {
    color: #64C5BD;
}

.main_left a:nth-child(3) {
    color: #73BEE7;
}

.main_left a:nth-child(4) {
    color: #E5695F;
}

.main_left a:nth-child(1):hover {
    background-color: #DB74A2;
    color: #fff;
}

.main_left a:nth-child(2):hover {
    background-color: #64C5BD;
    color: #fff;
}

.main_left a:nth-child(3):hover {
    background-color: #73BEE7;
    color: #fff;
}

.main_left a:nth-child(4):hover {
    background-color: #E5695F;
    color: #fff;
}

.main_left a img {
    float: left;
    width: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.main_right {
    position: relative;
    float: right;
    width: 680px;
}

.right_title img {
    float: left;
    width: 150px;
    border-radius: 10px;
}

.list_title {
    position: relative;
    float: right;
    height: 130px;
    margin-left: 20px;
    width: 510px;
}

.list_title p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.list_title p:nth-child(2) {
    font-size: 14px;
    color: #666;
}


.list_title div {
    position: absolute;
    bottom: 0px;
}

.fontsiz {
    font-size: 14px;
    color: #666;
}

.fontsiz span:nth-child(1) {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    background: url(../images/shoucang.png) no-repeat;
    background-size: 20px;
    background-position: left 10px center;
    padding-left: 30px;
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: #F5F5F5;
}

.fontsiz span:nth-child(2) {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    background: url(../images/fenxiang.png) no-repeat;
    background-size: 20px;
    background-position: left 10px center;
    padding-left: 40px;
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: #F5F5F5;
    margin-left: 10px;
}

.table {
    width: 100%;
}

.table thead {
    background-color: #dddcdc;
    border-bottom: 1px solid #979797;
}

.table tbody tr {
    width: 700px;
    height: 35px;
    font-size: 14px;
    background-color: #fff;
}

.table tbody tr:hover {
    background-color: #cccaca;
}

.table tbody tr td:nth-child(3) {
    color: #999999;
}

.table thead tr th,tbody tr td {
    padding: 0px 10px;
    background-color: #00000000;
}

.table_title {
    position: relative;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    border-bottom: 2px solid #BC4982;
    margin-top: 30px;
}

.table_title span {
    font-size: 12px;
}

.table_title span:nth-child(1) {
    margin-left: 20px;
}


.table_title span:last-child {
    float: right;
}

.table_title span:last-child i {
    color: #41dfff;
    font-weight: bold;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #D9D9D9;
    border-top: 0px;
    line-height: 35px;
}

.table thead {
    text-align: left;
}

.main_box .main_left .left5:hover {
    background-color: #9C0A0B;
}

.main_box .main_left .left6:hover {
    background-color: #5D7151;
}

.main_box .main_left .left7:hover {
    background-color: #C01E4D;
}

.zixun {
    margin-top: 20px;
}

.zixun li {
    float: left;
}

.zixun li:nth-child(1) {
    margin-left: 0px;
}

.zixun li {
    cursor: pointer;
    height: 306px;
    width: 306px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 40%) 0px 0px 10px 1px;
}

.zixun1 {
    position: relative;
}

.zixun1_img {
    width: 100%;
    height: 153px;
}

.zixun1_img_txt {
    padding: 10px;
}

.zixun1_img_txt p a {
    text-decoration: none;
    color: #000;
}

.zixun1_img_txt p:nth-child(1) {
    color: #000000;
    font-size: 14px;
}

.zixun1_img_txt p:nth-child(2) {
    font-weight: bold;
    line-height: 23px;
    margin-top: 10px;
}

.zixun1_state {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.zixun1_state span:nth-child(1) {
    background: url(../images/zan.png) no-repeat;
    background-size: 16px;
    padding-left: 20px;
    font-size: 14px;
    background-position: left center;
}

.zixun1_state span:nth-child(2) {
    background: url(../images/cai.png) no-repeat;
    background-size: 14px;
    padding-left: 20px;
    font-size: 14px;
    background-position: left center;
    margin-left: 20px;
}

.zixun .zixun2 {
    position: relative;
    width: 632px;
}

.zixun2_img {
    position: absolute;
    z-index: 0;
    width: 632px;
    height: 306px;
}

.zixun1_img_txt2 {
    background-color: hsla(0, 0%, 100%, 0.784);
    position: relative;
    margin-top: 153px;
    color: #fff;
    padding-bottom: 100px;
}

.zixun1_img_txt2 p:nth-child(1) {
    color: #000000;
}

.zixun1_state2 {
    color: #fff;
}

.zixun1_state2 span:nth-child(1) {
    background: url(../images/zan.png) no-repeat;
    background-size: 16px;
    background-position: left center;
}

.zixun1_state2 span:nth-child(2) {
    background: url(../images/cai.png) no-repeat;
    background-size: 14px;
    background-position: left center;
}

@media (prefers-color-scheme: dark) {
    *{
        color: #fff;
        background-color: #141414;
    }
    .main {
        color: #fff;
        background-color: #141414;
    }
    .title_main {
        border-bottom-color: #46ffaf;
    }
    .list2 li p:nth-child(2n-1) {
        background-color: #202020;
    }
    .list2 li p:nth-child(2n) {
        background-color: #3c3c3c;
    }
    .list2 li p:nth-child(-n+4) span {
        background-color: #3c3c3c00;
    }
    .list2 li p:nth-child(2n) a {
        background-color: #3c3c3c00;
    }
    .list2 li p span {
        background-color: #3c3c3c00;
    }
    .slider-indicators {
        background-color: #00000000;
    }
    .arrow {
        background-color: #00000000;;
    }
    .table tbody tr {
        background-color: #141414;
    }
    .table tbody tr:hover {
        background-color: #262626;
    }
    .main_left a span {
        color: #fff;
        background-color: #00000000;
    }
    .list_title p:nth-child(1) {
        color: #fff;
    }
    .list_title p:nth-child(2) {
        color: #fff;
    }
    .fontsiz span:nth-child(1) {
        color: #ffffff;
        background-color: #141414;
        border-color: #fff;
    }
    .fontsiz span:nth-child(2) {
        color: #ffffff;
        background-color: #141414;
        border-color: #fff;
    }
    .zixun1_img_txt p:nth-child(1) {
        color: #fff;
        background-color: #20202000;
    }
    .zixun1_img_txt p {
        background-color: #20202000;
    }
    .zixun1_img_txt p a {
        background-color: #20202000;
    }
    .zixun li {
        background-color: #202020;
    }
    .zixun1_img_txt {
        background-color: #202020;
    }
    .zixun1_img_txt2 {
        background-color: #202020cf;
    }
    .zixun1_state {
        background-color: #20202000;
    }
    .zixun1_state span:nth-child(1) {
        background: url(../images/zan2.png) no-repeat;
        background-size: 16px;
        padding-left: 20px;
        font-size: 14px;
        background-position: left center;
    }
    .zixun1_state span:nth-child(2) {
        background: url(../images/cai2.png) no-repeat;
        background-size: 14px;
        padding-left: 20px;
        font-size: 14px;
        background-position: left center;
        margin-left: 20px;
    }
    .zixun1_img_txt p a{
        color: #fff;
    }
    .zixun1_img_txt p a:hover {
        color: #46ffaf;
    }
    nav {
        border-bottom: #46ffaf 5px solid;
    }
}